#matrix {
  height:600px;
  width:600px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  outline:1px solid black;
}

.square {
  background-color:white;
  height:37.5px;
  width:37.5px;
  float:left;
  outline:1px solid black;
}

.hover_color {
  background-color:#434C80;
}

button {
  margin-top:10px;
  margin-left:47%;
}

.hover1 {
  background-color:#A4A4A4;
}

.hover2 {
  background-color:#3B3B3B;
}

.hover3 {
  background-color:#A4A4A4;
}

.hover4 {
  background-color:#000000;
}
